  <header class="masthead" style="background-image: url(<%= image_url "home-bg.jpg" %>)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog by Monti</h1>
            <span class="subheading">The Blog Theme by Monti Lifestyle</span>
          </div>
        </div>
      </div>
    </div>
  </header>